# This is an example .env file. Copy this file to .env and fill in the values.

# Make your API key unique and keep it secret. This key will be used to authenticate requests to your API.
API_KEY=your_api_key_here

# Allowed origins should be a comma-separated list of URLs that are allowed to access the API.
ALLOWED_ORIGINS=your_allowed_origins_here
